.bm-burger-button {
  position: fixed;
  width: 5vw;
  height: 7vh;
  min-width: 42px;
  left: 36px;
  top: 50px;
  z-index: 1100;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
  filter: drop-shadow(0 0 0.5em #000000aa);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 300px;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 100%;
  overflow-y: auto;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.bm-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .bm-burger-button {
    left: 18px;
    top: 25px;
  }
}
