#root {
  margin-top: 120px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f4f4f4;
}

/* Header Styling */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 5px;
  box-sizing: border-box;
  background-color: #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/* Logo Styling */
.logo-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: black solid 5px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 20%;
  height: 100%;
  border-top: 0;
  border-bottom: 0;
}

.logo {
  transition: filter 300ms;
  height: 9vw;
  min-height: 50px;
  max-height: 100px;
  margin: 0;
  width: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #160094aa);
  cursor: pointer;
}

.globeLogo {
  transition: filter 300ms;
  height: 10vw;
  max-height: 200px;
  margin: 0;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.searchbar {
  position: absolute;
  bottom: -40px;
  width: 40%;
  padding: 10px;
  color: #000;
  font-size: large;
  background-color: white;
  border: 5px solid #000000;
  border-radius: 4px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.searchbar:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.userImg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: auto;
  max-height: 100px;
  width: 8vw;
  min-width: 50px;
  max-width: 110px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.userImg:hover {
  filter: drop-shadow(0 0 0.5em #000000aa);
  cursor: pointer;
}

h2 {
  text-align: center;
  color: #000;
  font-size: 50px;
}
